.profile-header {
  display: flex;
  padding-left: 50px;
  width: 100%;
  align-items: center;
  margin-bottom: 30px;
  background-color: whitesmoke;
  margin-top: 10px;
}

.profile-photo {
  margin-right: 20px;
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin-right: 50px;
}

.profile-photo img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
  object-fit: cover;
}


.username {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}

.name {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 400;
}

.bio {
  margin: 0;
  font-size: 16px;
}

.social-links {
  margin: 10px 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.ProfileRow {
  display: flex;
  width: 400px;
  justify-content: space-between;

}

@media (max-width: 567px) {
  .profile-info {
    width: 100%;
  }
}


@media (max-width: 860px) {
  .profile-header {
    flex-direction: column;
    text-align: start;
    padding-left: 0px;
  }


  .profile-photo {
    margin: 0 auto 20px;
  }

  /* .profile-photo img {
    width: 80%;
    height: auto;
  } */

  .username {
    font-size: 24px;
  }

  .name {
    font-size: 16px;
  }

  .bio {
    font-size: 14px;
  }

  .social-links {
    justify-content: center;
  }
}


@media (max-width: 768px) {
  .profile-photo {
    width: 100px;
    height: 100px;
  }
}


@media (max-width: 992px) {
  .profile-photo {
    width: 180px;
    height: 180px;
  }
}


.profile-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main-profile-container {
  width: 80%;
  height: 100vh;
  background-color: whitesmoke;
}

/* .profile-post-box{
  display: flex;
  justify-content: center;
  width: 100%;
}
.profile-main-box{
  background-color: aqua;
}

.user-post{
  width: 18vw;
  height: 40vh; */

/* } */

.user-post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  background-color: whitesmoke;
}

.user-post {
  position: relative;
  overflow: hidden;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.user-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-post.bg-danger {
  background-color: lightgray;
}

.user-post.bg-warning {
  background-color: #ffc107;
}

/* .user-post:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
} */

.userSocials {
  background-color: rgb(212, 212, 212);
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}

.profile-info {
  width: 75%;
}


/* --------------------------------------------------------------------------------- */



.user-fuctionality {
  display: flex;
  width: 270px;
  justify-content: space-between;
  align-items: center;
}



.edit-profile {
  height: 22px;
  font-size: 12px;
}

.user-switch-container {
  display: flex;
  height: 50px;
}

.user-switch-post {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 100%;
  background-color: rgb(228, 227, 227);
}





























.product-action {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.product-action a.btn {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  opacity: 0;
}

.product-item:hover {
  box-shadow: 0 0 30px #DDDDDD;
}

.product-item:hover .product-action {
  /* background: rgba(255, 255, 255, 0.1); */
  background-color: rgba(0, 0, 0, 0.7);
}

.product-item:hover .product-action a.btn:first-child {
  opacity: 1;
  margin-top: 0;
  transition: .3s 0s;
}

.product-item:hover .product-action a.btn:nth-child(2) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .05s;
}

.product-item:hover .product-action a.btn:nth-child(3) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .1s;
}

.product-item:hover .product-action a.btn:nth-child(4) {
  opacity: 1;
  margin-top: 0;
  transition: .3s .15s;
}













.userPost-container {
  width: 100%;
  height: 91.5vh;
  margin-top: -23.3px;
  background-color: rgba(74, 74, 74, 0.5);
  z-index: 2;
  position: fixed;
}

.userPost-main {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position: absolute;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 700px;
  background-color: white;
}

.userPost-close {
  font-weight: bolder;
  font-size: 25px;
  cursor: pointer;
  margin-left: 340px;
  color: black;
  position: absolute;
  margin-top: -35px;
}

.userPost-box {
  width: 100%;
  height: 100%;
  display: flex;
}


.userPost-box-post {
  width: 50%;
  height: 100%;
}

.userPost-box-main {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow-y: scroll;
  border-bottom: solid 1px rgb(0, 0, 0)
}

.userPost-box-main1{
  width: 50%;
  height: 95%;
}

.userPost-likeview{
  width: 100%;
  height: 5%;
  background-color: rgb(222, 222, 222);
}

.userPostPost {
  width: 100%;
  height: 100%;
}

.userPost-span {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.50);
}

.userPost-close-box {
  text-align: end;
  height: 0;
  position: absolute;
}

#changepasswored{
  background-color: whitesmoke;
  border: none;
  outline: none;
}